<div class="custom-container">

	<body class="text-center">
		<form class="form-signin"  #f="ngForm" (ngSubmit)="onLogin(f?.value)">
			<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
			<div *ngIf="invalidLogin" class="alert alert-danger">Invalid username and/or password.</div>
			<label for="inputEmail" class="sr-only">Email address</label>
			<input type="text" id="inputUsername" name="username" ngModel class="form-control" placeholder="Username" required autofocus>
			<label for="inputPassword" class="sr-only">Password</label>
			<input type="password" id="inputPassword" name="password" ngModel class="form-control" placeholder="Password" required>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
			<button class="btn btn-lg btn-outline-secondary btn-block" type="button" routerLink="/register">Register</button>
		</form>
	</body>
</div>