<div class="col-md-6">
  <h2 class="text-center">Add Appointments</h2>
  <form>
    <div class="form-group">
      <label for="apptDate">Appointment Date:</label>
      <input type="apptDate" [(ngModel)]="booking.apptDate" placeholder="Appointment Date" name="Appointment Date"
        class="form-control" id="apptDate">
    </div>

    <div class="form-group">
      <label for="apptTime">Appointment Time:</label>
      <input [(ngModel)]="booking.apptTime" placeholder="Appointment Time" name="Appointment Time" class="form-control"
        id="apptTime">
    </div>

    <div class="form-group">
      <label for="clientName">Client Name</label>
      <input [(ngModel)]="booking.clientName" placeholder="Client Name" name="Client Name" class="form-control"
        id="clientName">
    </div>

    <div class="form-group">
      <label for="address">Address</label>
      <input [(ngModel)]="booking.address" placeholder="Address" name="Address" class="form-control" id="address">
    </div>

    <div class="form-group">
      <label for="condition">Condition</label>
      <input [(ngModel)]="booking.condition" placeholder="Condition" name="Condition" class="form-control"
        id="condition">
    </div>

    <div class="form-group">
      <label>Nurse</label>
      <select [(ngModel)]="booking.nurse" class="form-control" id="nurseSelect" name="nurseSelect"
        [ngClass]="{ 'is-invalid': submitted && f.nurse.errors }">
        <option [ngValue]="nurse" *ngFor="let nurse of nurses">
          {{nurse.nurseId}} - {{nurse.name}}
        </option>
      </select>
      <div *ngIf="submitted && f.nurse.errors" class="invalid-feedback">
        <div *ngIf="f.nurse.errors.required">Nurse is required</div>
      </div>
    </div>

    <div class="form-group">
      <label>Doctor</label>
      <select [(ngModel)]="booking.doctor" class="form-control" id="doctorSelect" name="doctorSelect"
        [ngClass]="{ 'is-invalid': submitted && f.doctor.errors }">
        <option [ngValue]="doctor" *ngFor="let doctor of doctors">
          {{doctor.doctorId}} - {{doctor.doctorName}}
        </option>
      </select>
      <div *ngIf="submitted && f.doctor.errors" class="invalid-feedback">
        <div *ngIf="f.doctor.errors.required">Doctor is required</div>
      </div>
    </div>


    <button class="btn btn-success" (click)="createAppointments()">Create</button>
  </form>
</div>